<!DOCTYPE html>
<html lang="en" class="">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Forms - Admin One Tailwind CSS Admin Dashboard</title>

  <!-- Tailwind is included -->
  <link rel="stylesheet" href="/static/css/main.css">
  <link rel="stylesheet" href="/static/js/main.min.js">

  <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png"/>
  <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png"/>
  <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png"/>
  <link rel="mask-icon" href="safari-pinned-tab.svg" color="#00b4b6"/>

  <meta name="description" content="Admin One - free Tailwind dashboard">

  <meta property="og:url" content="https://justboil.github.io/admin-one-tailwind/">
  <meta property="og:site_name" content="JustBoil.me">
  <meta property="og:title" content="Admin One HTML">
  <meta property="og:description" content="Admin One - free Tailwind dashboard">
  <meta property="og:image" content="https://justboil.me/images/one-tailwind/repository-preview-hi-res.png">
  <meta property="og:image:type" content="image/png">
  <meta property="og:image:width" content="1920">
  <meta property="og:image:height" content="960">

  <meta property="twitter:card" content="summary_large_image">
  <meta property="twitter:title" content="Admin One HTML">
  <meta property="twitter:description" content="Admin One - free Tailwind dashboard">
  <meta property="twitter:image:src" content="https://justboil.me/images/one-tailwind/repository-preview-hi-res.png">
  <meta property="twitter:image:width" content="1920">
  <meta property="twitter:image:height" content="960">

</head>
<body>

<div id="app">

<nav id="navbar-main" class="navbar is-fixed-top">
  <div class="navbar-brand">
    <a class="navbar-item mobile-aside-button">
      <span class="icon"><i class="mdi mdi-forwardburger mdi-24px"></i></span>
    </a>
  </div>
  <div class="navbar-brand is-right">
    <a class="navbar-item --jb-navbar-menu-toggle" data-target="navbar-menu">
      <span class="icon"><i class="mdi mdi-dots-vertical mdi-24px"></i></span>
    </a>
  </div>
  <div class="navbar-menu" id="navbar-menu">
    <div class="navbar-end"></div>
      <div class="navbar-item dropdown has-divider has-user-avatar">
        <a class="navbar-link">
          <div class="label"><span>Super Admin</span></div>
          <span class="icon"><i class="mdi mdi-chevron-down"></i></span>
        </a>
      </div>
      <a title="Log out" class="navbar-item desktop-icon-only" href="/login">
        <span class="icon"><i class="mdi mdi-logout"></i></span>
        <span>Log out</span>
      </a>
    </div>
  </div>
</nav>

<aside class="aside is-placed-left is-expanded">
  <div class="aside-tools">
    <div>
      Admin <b class="font-black">One</b>
    </div>
  </div>
  <div class="menu is-menu-main">
    <p class="menu-label">General</p>
    <ul class="menu-list">
      <li class="--set-active-index-html">
        <a href="/index">
          <span class="icon"><i class="mdi mdi-desktop-mac"></i></span>
          <span class="menu-item-label">Dashboard</span>
        </a>
      </li>
    </ul>
    <ul class="menu-list">
      <li >
        <a href="/allCategory">
          <span class="icon"><i class="mdi mdi-table"></i></span>
          <span class="menu-item-label">All category</span>
        </a>
      </li>
      <li >
        <a href="/category">
          <span class="icon"><i class="mdi mdi-square-edit-outline"></i></span>
          <span class="menu-item-label">Category</span>
        </a>
      </li>
      <li class="--set-active-forms-html">
        <a href="/allPost">
          <span class="icon"><i class="mdi mdi-table"></i></span>
          <span class="menu-item-label">All Post</span>
        </a>
      </li>
      <li class="active">
        <a href="/post">
          <span class="icon"><i class="mdi mdi-file-document"></i></span>
          <span class="menu-item-label">Post</span>
        </a>
      </li>
      <li>
        <a href="/profile">
          <span class="icon"><i class="mdi mdi-account-circle"></i></span>
          <span class="menu-item-label">Profile</span>
        </a>
      </li>
      <li>
        <a href="/login" onclick="noBack()">
          <span class="icon"><i class="mdi mdi-lock"></i></span>
          <span class="menu-item-label">Logout</span>
        </a>
      </li>
    </ul>
  </div>
</aside>
<section class="is-hero-bar">
  <div class="flex flex-col md:flex-row items-center justify-between space-y-6 md:space-y-0">
      <h1 class="title">Add Post</h1>
  </div>
</section>
<section class="section main-section">
  <form action="/editPost" method="POST">
    <section class="section main-section category">
      <div class="card mb-6">
          <label for="post_name" class="label"><h1>Post Title</h1>
            <input type="text" class="form-control" name="post_name" id="post_name" placeholder="Enter Post title" value="{{ edit_post[1] }}" required>
        </label>
        <p class="help">Please enter only Alphabets</p>
            <br>
            <div class="form-group">
              <label for="post_image" class="label"><h1>Post Image</h1></label>
              <input type="file" class="form-control" name="post_image" id="post_image"  value="{{ edit_post[2] }}" accept="image/png, image/jpeg, image/webp">
            </div>
            <p class="help">Select only png, jpeg and webp files and size lessthen 5 mb</p>
            <br>
            <div class="container mt-4 mb-4 keditor">
              <h1 class="label">Description</h1>
              <div class="row justify-content-md-center">
                <div class="col-md-12 col-lg-8">
                  <div class="form-group">
                    <textarea id="editor" name="description" class="textarea">{{ edit_post[3] }}</textarea>
                  </div><br>
                </div>
              </div>
            </div>
          <div class="control">
              <button type="submit" class="button green" formaction="">Submit</button>
          </div>
      </div>
    </section>
    
    <section class="section main-section category" id="subcat">
    <h1 class="label">All Categorys</h1>
    {% for cat in all_name %}
    <label data-label="Company">
            <input type="checkbox" name="get_value" id="get_value" value="{{ cat[1] }}" required> 
            <label aria-required="true">{{ cat[0] }}</label>
        </label>
        <br>
        {% endfor %}
    </section>
    
</form>
</section>
</div>


<script>
  function showSub() {
    document.getElementById("subcat").style.display = 'block';
  }

  function insidesubcat() {
    var cli = document.getElementById("insidesubcat");
    var text = document.getElementById("text");
    if (cli.checked == true){
      text.style.display = "block";
      text.style.marginLeft = "20px";
    } else {
       text.style.display = "none";
    }
  }

  </script>
  <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>

<!-- Image validation function -->
<script>
  Filevalidation = () => {
      const fi = document.getElementById('image');
      // Check if any file is selected.
      if (fi.files.length > 0) {
          for (const i = 0; i <= fi.files.length - 1; i++) {

              const fsize = fi.files.item(i).size;
              const file = Math.round((fsize / 1024));
              // The size of the file.
              if (file >= 4096) {
                  alert(
                    "File too Big, please select a file less than 5 mb");
              } else {
                  document.getElementById('size').innerHTML = '<b>'
                  + file + '</b> KB';
              }
          }
      }
  }
</script>

  <!-- Logout and block previous page  -->
  <script type="text/javascript">
    function noBack()
     {
         window.history.forward()
     }
    noBack();
    window.onload = noBack;
    window.onpageshow = function(evt) { if (evt.persisted) noBack() }
    window.onunload = function() { void (0) }
  </script>

  <!-- Text editor -->
  <script>
    tinymce.init({
    selector: 'textarea#editor',
    plugins: 'lists, link, image, media',
    toolbar: 'h1 h2 bold italic strikethrough blockquote bullist numlist backcolor | link image media | removeformat help',
    menubar: false,
    setup: (editor) => {
        // Apply the focus effect
        editor.on("init", () => {
        editor.getContainer().style.transition = "border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out";
          });
        editor.on("focus", () => { (editor.getContainer().style.boxShadow = "0 0 0 .2rem rgba(0, 123, 255, .25)"),
        (editor.getContainer().style.borderColor = "#80bdff");
          });
        editor.on("blur", () => {
        (editor.getContainer().style.boxShadow = ""),
        (editor.getContainer().style.borderColor = "");
          });
        },
      });
  </script>

<!-- Icons below are for demo only. Feel free to use any icon pack. Docs: https://bulma.io/documentation/elements/icon/ -->
<link rel="stylesheet" href="https://cdn.materialdesignicons.com/4.9.95/css/materialdesignicons.min.css">

</body>
</html>
